/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
body {
    background-color: black;
}

.brand {
    color: whitesmoke;
    font-family: 'Pacifico',
        cursive;
}

.header1 {

    color: whitesmoke;
    font-family: 'Pacifico', cursive;
    font-size: 10vw;
    padding-top: 15vw;
}

.header2 {
    color: purple;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: bold;
}

.header3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: 500;
    margin-top: 4vw;
    margin-bottom: 1vw;
    text-align: center;

}




.face {

    background-image: url("/images/neonchairs.jpg");
    background-size: cover;
    height: 60vw;
}


.nav-item {
    padding-left: 3rem;
    padding-right: 3rem;
}



.featured {
    z-index: 1;
}

.about {
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 8vw;
    padding-right: 1rem;
    text-align: center;
    width: 100%;

}

.about2 {
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 1rem;
    text-align: center;
    width: 100%;

}

.logo {
    margin-top: 8vw;
    width: 13rem;
    display: inline-block;
    margin-left: 9vw;
}

.venue {
    text-align: center;
    border-radius: 2%;
}

.menu {
    margin-top: 5vw;
}

.reservations {
    text-align: center;
    margin-bottom: 4rem;
}


.socialFooter {
    text-align: center;
    width: 100%;
    background-color: rgb(173, 0, 0);
}

.socialLinks {
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 3% 3% 1% 3%;
    text-decoration: none;
}

.contactUs {
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}