/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
body {
    background-color: black;
}

.aboutBody {
    background-image: linear-gradient(to bottom, #620011, #732606, #7c4400, #7e6300, #778106);
}

.brand {
    color: whitesmoke;
    font-family: 'Pacifico',
        cursive;
}

.header1 {

    font-size: 80px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #d300e6,
        0 0 20px #d300e6,
        0 0 25px #d300e6,
        0 0 30px #d300e6,
        0 0 35px #d300e6;
    font-family: 'Pacifico',
        cursive;
    font-size: 10vw;
    padding-top: 15vw;

}

.header2 {
    color: rgb(3, 66, 22);
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    font-weight: bolder;

}

.header3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    font-weight: 500;
    margin-top: 4vw;
    margin-bottom: 1vw;
    text-align: center;

}




.face {
    background-image: url("/images/neonchairs.jpg");
    background-size: cover;
    height: 60vw;
    width: auto;
}

.face2 {
    background-image: url("/images/face2.jpg");
    background-size: cover;
    height: 60vw;
    width: auto;
    background-repeat: no-repeat;
}

.nav-link {
    color: white;
}

.nav-item {
    padding-left: 3rem;
    padding-right: 3rem;
}



.featured {
    z-index: 1;

}

.slides {
    text-align: center;
    /* width: 45vw; */
}

.weOwn {
    width: 40vw;
    text-align: center;
}



.about2 {
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    padding-right: 1vw;
    margin-top: 13vw;
    text-align: center;
    width: 100%;

}



.about1 {
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5vw;
    font-weight: 600;
    padding-right: 1vw;
    margin-top: 10vw;
    text-align: center;
    width: 100%;

}


.logo {
    margin-top: 8vw;
    width: 13rem;
    display: inline-block;
    margin-left: 9vw;
}

.venue {

    text-align: center;
    border-radius: 2%;
}

.menu {
    margin-top: 5vw;
}

.reservations {
    text-align: center;
    margin-bottom: 4rem;
}


.socialFooter {
    text-align: center;
    width: 100%;
    background: rgb(80, 27, 27);

}

li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.social {
    font-size: 2.3vw;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;

}

.social:hover {
    color: yellowgreen;
}




.contactUs {
    font-size: 1.5vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

.aboutImg {
    margin-top: 10vw;
}

.final {
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3vw;
    font-weight: 600;
    padding-right: 1vw;
    margin-top: 3vw;
    margin-bottom: 8vw;
    text-align: center;
    width: auto;
}